body{
    font-family: 'Manrope', sans-serif;
font-family: 'Merriweather', serif;
margin: 0;
}
h1{
    font-size: 50px;
}
#marfi09{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 10px;
}
.half-width{
    width: 40%;
   padding-left: 5%;
}
.half-width img{
    width: 100%;

}
.linkedin{
    text-decoration: none;
   background-image: linear-gradient(tomato, orange);
   color: white;
   font-weight: 700;

   padding: 10px 30px;
   border-radius: 5px;
}
#top-background{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.middle-background{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
    
   